body {
	margin-top: 30px;
	margin:auto;
	/*max-width:850px;*/
  max-width:750px;
	/*font-family: Helvetica;*/
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Lora', serif;*/
	font-weight:100;
	margin-bottom: 50px;
  font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	font-weight:600;
	font-size:20px;
	/*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Lora', serif;*/
}

h2{
	font-size: 14px;
	font-weight:800;
	margin-top:20px;
	/*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Lora', serif;*/
	padding-bottom: 3px;

}
h3{
	font-size: 16px;
	font-weight:800;
	margin-bottom: 5px;
	/*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Lora', serif;*/
	margin-top: 0;
	color: #000001 !important;
}
p {
	font-size: 14px;
	line-height: 19px;
	font-weight:100;
	margin:0;
}

a:link, a:visited{
	color: #000000;
	text-decoration: none;
  background-color: rgba(255,242,51,.29804)
}

a:hover{
  text-decoration: underline;

}

li a {
  background-color: #FFFFFF !important;
}

.pub {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 5px;
	color: darkgrey;
	padding-top: 2px;
}

nav ul li a {
    text-align: bottom;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-right: 1em;
    color: #000000 !important;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Inconsolata', monospace;
    background-color: #FFFFFF !important;

}

.parent {
  margin: 0;
  list-style: none;

  display: -web756kit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.col {
  width: 50%;
  margin-top: 10px;
  text-align: left;
}

.detail {
	width: 50%;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 20px;
}

img.book {
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;
		box-shadow: 3px 2px 2px 1px #ccc;
}

footer p {
  margin: 0px;
	/*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
	color: black;
	margin-top: 20px;
}

@media (max-width: 756px) {
 	div.col {
		flex-direction: column;
		width: 100%;
		margin-top: 5px;
	}
	div.detail {
		flex-direction: column;
		width: 100%;
		margin-top: 20px;
	}
}
